*, ul li a{ 
    list-style: none;
    text-decoration: none;

}

ul li a{ 
    color: black;
   

}

ul li a:hover{ 
    background-color: grey;
    padding: 15px 50px;
    color: black;
    border-radius: 20px;
   

}
.body h1{
    padding-left: 40px;

}
.body{
    padding-top: 150px;
}

.button{
    padding-top: 60px;
    padding-left: 100px;
}
body{
    background-image: url("../img/land-removebg-preview\ \(1\).png");
    background-size: 100% 100%;
    height: 850px;
}

