*, ul li a{ 
    list-style: none;
    text-decoration: none;

}

ul li a{ 
    color: black;
   

}

ul li a:hover{ 
    background-color: grey;
    padding: 15px 50px;
    color: black;
    border-radius: 20px;
   

}