*, ul li a{ 
    list-style: none;
    text-decoration: none;

}

ul li a{ 
    color: black;
   

}

ul li a:hover{ 
    background-color: #F24534;
    padding: 15px 50px;
    color: black;
    border-radius: 20px;
   

}
.body h1{
    padding-left: 40px;

}
.body p{
    padding: 20px;
    font-size: 25px;
}
.body{
    padding-top: 150px;
}

.button{
    padding-top: 80px;
    padding-left: 200px;
}

button{
    padding: 10px 80px;
    border-radius: 20px;
    background:transparent ;
}

button:hover{
    background-color: #F24534;
    color: white;
}

body{
    background-image: url("../img/la.jpg");
    background-size: 100% 100%;
    height: 920px;
    background-repeat: no-repeat;
}

